[submodule "metamod-source"]
	path = metamod-source
	url = https://github.com/alliedmodders/metamod-source
[submodule "hl2sdk-css"]
	path = hl2sdk-css
	url = https://github.com/alliedmodders/hl2sdk
	branch = css
